img {
    max-width: 100%;
    display: block;
}

a {
    display: inline-block;
}

.allSectionsWrapper {
    
    
    padding-left: 11.75rem;
}

.individualSection {
    background-color: $white;
    padding: 4.25rem 2rem;
}

.sectionWrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 0.75rem;
}