.sectionHeadingContent {
    margin-bottom: 2.4rem;
    text-align: left;
}

.sectionTitle {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.25;
    line-height: 100%;
    margin-bottom: 0.6rem;
}

.sectionDescription {
    font-size: 0.75rem;
    margin-bottom: 1rem;
    margin-top: 0;
}