@media (min-width: 1500px) {
    .sectionWrapper { 
        max-width: 1200px;
    }
}

@media (max-width: 1370px) {
    .aboutContainer {
        flex-direction: column;
        align-items: center;
        img {
            border-radius: 50%;
        }
        .aboutContent {
            text-align: center;
        }
        .aboutButtonsContainer {
            justify-content: center;
        }
    }

    .sectionHeadingContainer .sectionHeadingContent {
        text-align: center;
    }
}

// @media (min-width: 768px) {
//     .sectionWrapper { 
//         max-width: 768px;
//     }
// }

// @media (min-width: 576px) {
//     .sectionWrapper { 
//         max-width: 576px;
//     }
// }
