.portfolioContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
}

.portfolioDefault {
    flex-basis: 45%;
    width: 30rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    border-radius: 1rem;
    img {
        width: 25rem;
        height: auto;
        align-self: center;
    }
}

.portfolioOne {
    background-color: #d9ed92;
}

.portfolioTwo {
    background-color: #caf0f8;
}

.portfolioThree {
    background-color: blue;
}

.portfolioFour {
    background-color: papayawhip;
}