@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: inline-block;
}

.allSectionsWrapper {
  padding-left: 11.75rem;
}

.individualSection {
  background-color: #fff;
  padding: 4.25rem 2rem;
}

.sectionWrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 0.75rem;
}

.mainButton {
  background-color: #dc3545;
  color: #fff;
  border-radius: 1.5rem;
  border: none;
  font-size: 0.7rem;
  padding: 0.5rem 1.9rem;
  line-height: 1.95;
}

html {
  font-size: 125%;
  font-family: "Open Sans", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  color: #333;
  font-weight: 400;
  line-height: 1.95;
}

ul,
li,
a,
input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111;
  color: #fff;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 11.75rem;
  z-index: 5;
}

.navContentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.navBarHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.4rem;
  padding-bottom: 3rem;
}

.navImageContainer img {
  border: 5px solid #484848;
  border-radius: 50%;
  margin-bottom: 0.8rem;
  width: 5.5rem;
}

.navBarName {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.navBarRole {
  color: #8a8a8a;
  margin-top: 0.45rem;
  line-height: 100%;
  margin-bottom: 0;
}

.navBarMenu {
  padding-bottom: 1.2rem;
}

.navLink {
  margin-bottom: 2.3rem;
  color: rgba(232, 232, 232, 0.95);
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  line-height: 100%;
}

.navBarItemList a.active {
  color: #dc3545;
}

@media (min-width: 1200px) {
  .sectionWrapper {
    max-width: 1200px;
  }
}
.sectionHeadingContent {
  margin-bottom: 2.4rem;
  text-align: left;
}

.sectionTitle {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.25;
  line-height: 100%;
  margin-bottom: 0.6rem;
}

.sectionDescription {
  font-size: 0.75rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.homeSection {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.58)), to(rgba(0, 0, 0, 0.58))), url(../assets/main-background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58)), url(../assets/main-background.jpg);
  background-size: cover;
  position: relative;
}

.homeNameContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.homeFirstName {
  color: #fff;
  font-size: 3.4rem;
  font-weight: 700;
  letter-spacing: 0 0.015rem;
  margin-bottom: 1.45rem;
}

.homeLastName {
  color: #dc3545;
}

.particlesJs {
  height: 100%;
  position: absolute;
  width: 100%;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutPicture {
  width: 41.66667%;
}
.aboutPicture img {
  width: 20rem;
  border: 1px solid #dee2e6;
  padding: 0.25rem;
}

.aboutContent {
  width: 58.33333%;
}

.aboutSubtitle {
  color: #dc3545;
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
  font-weight: 400;
}

.aboutTitle {
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 0.75rem;
  line-height: 1.5;
}

.aboutDescription {
  font-size: 0.75rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 0;
  padding-bottom: 1.35rem;
}

.aboutButtonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding-top: 1.35rem;
}

.portfolioLinkButton {
  background-color: #fff;
  color: #222;
  border: 1px solid #c5c5c5;
  border-radius: 1.5rem;
  font-size: 0.7rem;
  padding: 0.5rem 2.3rem;
}

.skillsSection {
  background-color: #f7f7f7;
}

.skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.skillItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 16.6666666667%;
      flex-basis: 16.6666666667%;
}
.skillItem .skillIcon {
  font-size: 3rem;
  color: #dc3545;
}
.skillItem p {
  text-align: center;
  letter-spacing: 0.015rem;
}

.portfolioContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
}

.portfolioDefault {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  width: 30rem;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 1rem;
}
.portfolioDefault img {
  width: 25rem;
  height: auto;
  -ms-flex-item-align: center;
      align-self: center;
}

.portfolioOne {
  background-color: #d9ed92;
}

.portfolioTwo {
  background-color: #caf0f8;
}

.portfolioThree {
  background-color: blue;
}

.portfolioFour {
  background-color: papayawhip;
}

.contactSection {
  background-color: #f7f7f7;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contactForm input, .contactForm textarea {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  font-size: 0.7rem;
  height: 2rem;
  padding: 0.45rem 0.7rem;
  line-height: 1.5;
  width: 100%;
}
.contactForm input::-webkit-input-placeholder, .contactForm textarea::-webkit-input-placeholder {
  color: #555;
  opacity: 1;
}
.contactForm input::-moz-placeholder, .contactForm textarea::-moz-placeholder {
  color: #555;
  opacity: 1;
}
.contactForm input:-ms-input-placeholder, .contactForm textarea:-ms-input-placeholder {
  color: #555;
  opacity: 1;
}
.contactForm input::-ms-input-placeholder, .contactForm textarea::-ms-input-placeholder {
  color: #555;
  opacity: 1;
}
.contactForm input::placeholder, .contactForm textarea::placeholder {
  color: #555;
  opacity: 1;
}
.contactForm textarea {
  height: auto;
}

.formElement {
  margin-bottom: 1.5rem;
  padding: 0 1.5rem 0 0;
}

.formName,
.formEmail {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.formSubject,
.formMessage,
.formButton {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.footerSection {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
}
.footerSection p {
  margin: 0;
  letter-spacing: 0.015rem;
}